#addItemForm{
  font-family: 'Montserrat', sans-serif;
	padding: 10px;
	color: #af1e1e;
  width: 80%;
  margin: 0 auto;
}

#addItemButton {
	text-decoration: none;
	background-color: #ffaf49;
	color: #b22121;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border: 0;
  cursor: pointer;
	height: 40px;
}

#addItemButton:hover {
	color: #b22121;
	text-decoration: none;
}

.addItemButton {
	text-align: center;
	margin-top: 20px;
}

.admin-title{
	font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #ffaf49;
  text-align: center;
  font-weight: bold;
}

form .row {
  float: none;
  postion: relative;
  left: 14%;
}

.image-file-input,
#Price,
#itemName {
  border: 2px solid #b22121;
  border-radius: 5px;
}

.image-file-input {
  position: relative;
  top: 15%;
  width: 100%;
}
