.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.name-price {
  float: left;
}

.increment, .quantity, .decrement {
  float: right;
}

.invisible{
	display: none;
}