.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*
.name-price {
  float: left;
}*/


.invisible{
  display: none;
}

.summary {
  width: 50%;
  margin: 0 auto;
}

.summary-name, .summary-price, .summary-quantity, .summary-total {
  float: left;
}

.summary-name {
  width: 70%;
}

.summary-price, .summary-quantity {
  width: 15%;
}

.summary-total {
  width: 50%;
  margin: 0 auto;
}